torch>=2.6.0
transformers>=4.52.4
datasets>=4.0.0
tokenizers>=0.21.1
safetensors>=0.5.3
huggingface-hub>=0.33.0

flash_attn>=2.7.4.post1
triton>=3.2.0
einops>=0.8.1
einx>=0.3.0
rotary-embedding-torch>=0.8.6

tensorboard>=2.19.0
tensorboardX==2.6.2.2
matplotlib==3.10.3
seaborn==0.13.2
plotly>=6.1.1

pandas==2.2.3
numpy==2.3.1
scipy==1.15.3
scikit-learn==1.6.1
pyarrow==20.0.0

requests>=2.32.3
tqdm>=4.67.1
future>=1.0.0
mpmath>=1.3.0
fonttools>=4.58.0

hyperopt==0.2.5
scikit_learn>=0.23.2
pyyaml>=5.1.0
colorlog>=4.7.2
colorama>=0.4.4
thop>=0.1.1.post2207130030
ray>=1.13.0, <=2.6.3
tabulate>=0.8.10 
texttable>=0.9.0
psutil>=5.9.0